<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../partials/head') %>
  </head>
  <body>
    <div class="container-main">
      <%- include('../partials/sidebar') %>
      <main>
        <h1><%= title %></h1>
        <h2>ID: <%= bookInstance._id %></h2>
        <p>
          Title: <a href=<%= bookInstance.book.url %>><%= bookInstance.book.title %></a>
        </p>
        <p><strong>Imprint:</strong> <%= bookInstance.imprint %></p>
        <% if (bookInstance.status === 'Available') { %>
          <span class="text-success"><%= bookInstance.status %></span>
        <% } else if (bookInstance.status === 'Maintenance') { %>
          <span class="text-danger"><%= bookInstance.status %></span>
        <% } else { %>
          <span class="text-warning"><%= bookInstance.status %></span>
        <% } %>
        <% if (bookInstance.status !== 'Available') { %>
          <p><strong>Due back:</strong> <%= bookInstance.due_back_formatted %></p>
        <% } %>
        <hr>
        <p>
          <a href=<%= bookInstance.url + "/delete" %>>Delete Book Instance</a>
        </p>
        <p>
          <a href=<%= bookInstance.url + "/update" %>>Update Book Instance</a>
        </p>
      </main>
    </div>
    <%- include('../partials/footer') %>
  </body>
</html>
